<fieldset>
  <div>
    <%= f.label :title , :class =>"col-md-5"%>
    <%= f.text_field :title %>
  </div>


  <div>
    <%= f.label :url,:class =>"col-md-5" %>
    <%= f.text_field :url %>
  </div>

</fieldset>